
.bat-image {
	position: absolute;
	left: -230%;
	top: 7rem;
	width: 10rem;
	height: 10rem;
}

.back-image {
	position: absolute;
	top: 10rem;
	left: -60%;
	height: 13rem;
	z-index: 3;
}

.moon-image {
	position: absolute;
	top: 5rem;
	left: -20%;
	height: 13rem;
	z-index: 0;
}

.house-image {
	position: absolute;
	top: 13rem;
	left: 30%;
	height: 28rem;
}



@media screen and (max-width: 900px) {


	.hero-buttons {
		justify-content: center;
	}

	.house-image {
		position: relative;
		align-self: center;
		width: 23rem;
		height: 18rem;
		top: 13rem;
        left: 0rem;
        z-index: -3;
		
	}

    .moon-image {
        position: relative;
		align-self: center;
        width: 7rem;
        height: 7rem;
        left: 15rem;
        top: -18rem;
        z-index: -1;
    }

	.back-image {
		position: relative;
		height: 8rem;
		width: 14rem;
		left: 10%;
		top: -16rem;
        
        z-index: 2;
	}

	.bat-image {
		display: none;
	}



}
