.header {
    display: flex;
    justify-content: space-between;
}



.header-menu {
    align-items: center;
    list-style: none;
    display: flex;
    gap: 2rem;
    
}

.header-link {
    cursor: pointer;
    color: white;
    
}

.header-link:hover {
    cursor: pointer;
    color: orange;
}







@media screen and (max-width:900px) {
    .header {
        max-width: 100%;
    }



    .header-menu {
        position: fixed;
        right: -100%;
        top: 100px;
        flex-direction: column;
        background-color: rgba(76, 19, 106, 0.966);
        width: 50%;
        height: 55vh;
        z-index: 999;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
        border: 2px solid orange;
        text-align: center;
        transition: .3s;

    }

    .header-menu.active {
        right: -3px;
    }

    .header-link {
        margin-top: 2.5rem;
    }

    .header-item {
        margin: 1.5rem 0;
    
    }

    .header .navbar img {
        width: 150px;
    }
}